:root {
    --background-color: #F8F8F8;
    --primary-accent-color: #00BFFF;
    --secondary-accent-color: #FFFF99;
    --text-color: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Patrick Hand", sans-serif;
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

button {
    cursor: pointer;
    padding: 15px 25px;
    font-size: 1.3rem;
    background-color: var(--primary-accent-color);
    border: none;
    border-radius: 16px;
    color: #FFFFFF;
}

button:hover {
    filter: brightness(0.9);
}

#wrapper {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}

#joke-container {
    width: 300px;
    padding: 30px;
    margin: 30px 0 30px 0;

    border: none;
    border-radius: 32px;

    background-color: var(--secondary-accent-color);
}